Here's the object {{ poll | json }}

<h2>Poll results: {{ poll ? poll.title : ''}}</h2>

<p>DEUBG: {{poll | json}}</p>

<div *ngIf="!poll">
  Loading poll data
</div>

<div *ngIf="poll">
  <blockquote>
    {{poll.question}}
    <footer>asked by <em>{{poll.creatorName}}</em></footer>
  </blockquote>

  {{ getTotalVotes() }} users have voted as follows:
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Option</th>
          <th># Votes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let option of poll.options">
          <td>{{ option.name }}</td>
          <td>{{ option.value }}</td>
        </tr>
      </tbody>
    </table>
    
    <a class="btn btn-primary" [routerLink]="['/']">Home</a>
    <a class="btn btn-default" [routerLink]="['/vote-poll', poll.id]">Change my vote</a>
</div>
