<h2>About this application</h2>

<h3>Background</h3>
<p>
I am currently learning how to develop modern web applications. 
Therefore, I finished the Front End Certification from 
<a href="http://www.freecodecamp.com">freeCodeCamp</a>
and I'm currently working on the Back End Certification. 
One of the challenges comprises the development of a voting application.
The following user stories should be implemented:
</p>
<ul>
  <li>As an authenticated user, I can keep my polls and come back later to access them.</li>
  <li>As an authenticated user, I can share my polls with my friends.</li>
  <li>As an authenticated user, I can see the aggregate results of my polls.</li>
  <li>As an authenticated user, I can delete polls that I decide I don't want anymore.</li>
  <li>As an authenticated user, I can create a poll with any number of possible items.</li>
  <li>As an unauthenticated or authenticated user, I can see and vote on everyone's polls.</li>
  <li>As an unauthenticated or authenticated user, I can see the results of polls in chart form. (This could be implemented using Chart.js or Google Charts.)</li>
  <li>As an authenticated user, if I don't like the options on a poll, I can create a new option.</li>
</ul>


<h3>Technologies used</h3>
<p>
The frameworks taught at freeCodeCamp include jQuery for the front end and node.js with express.js and mongoDB for the back end.
As those frameworks have already been covered extensively, I decided to implement the application with different 
frameworks.
</p>

<dl class="dl-horizontal">
  <dt><a href="http://getbootstrap.com">Bootstrap</a></dt>
  <dd>CSS framework for making the user interface responsive.</dd>
  
  <dt><a href="https://angular.io">Angular2 (RC-1)</a></dt>
  <dd>Client-side JavaScript framework based on the MVC pattern to create single-page applications.</dd>
  
  <dt><a href="https://www.firebase.com">Firebase</a></dt>
  <dd>Backend as a service responsible for storing the data and user authentication. 
    <a href="https://angularfire2.com">AngularFire2</a> is used as an integration layer between Angular 2 and Firebase.
  </dd>
</dl>


<h3>Limitations</h3>

<ul>
  <li>We are not storing information about which user voted on which poll. Hence, it is possible to cast several votes
    (for the same option or different ones).
  </li>
  <li>The application has issues when running in Safari on OSX.
    <ul>
      <li><code>Can't find variable: Intl</code>: This is a
       <a href="https://github.com/angular/angular/issues/3333">known bug</a> caused by 
       Safari not supporting I18N. It will hopefully be fixed in the final version with 
       a polyfill.</li>
       <li><code>the server responded with a status of 404 (Not Found)</code>: This
       is caused <a href="https://github.com/angular/angular-cli/issues/706">Angular CLI</a> 
       currently not including the source maps to speed up development build times.
       It can be fixed easily by integrating the source map files into the build but is 
       currently left out, as the CLI team might change this in the future.</li>
    </ul>
  </li>
  <li>Currently only oauth authentication via github is provided. This is a choice by design
    as the application is only a proof of concept and other forms of authentication (Facebook,
    Twitter, Username&Password, ...) work similar.
  </li>
</ul>
<h3>Implementation</h3>

The source code can be found at <i class="fa fa-github fa-lg" aria-hidden="true"></i> <a href="https://github.com/thorstenschaefer/myVote">https://github.com/thorstenschaefer/myVote</a>